@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  padding-top: 1.5em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000ee;
  color: #00fefe;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
}

h1 {
  color: deepblue;
  font-size: 2em;
  margin-bottom: 0.1em;
  text-shadow: 
  2px 2px 0px rgb(218, 11, 218);
}

h2 {
  color: #D3D3D3;
  font-size: 0.5em;
  line-height: 1.5;
  margin-bottom: 6em;
  text-shadow: 
  1px 1px 0px rgb(218, 11, 218);
}

a {
  color: #00fefe;
  text-decoration: none;
  font-size: 0.8em;
  line-height: 4;
  text-shadow: 
  2px 1px 0px rgb(218, 11, 218);
}

a:hover {
  text-decoration: underline;
}

.github-link {
  color: #D3D3D3;
  font-size: 0.5em;
  line-height: 10;
  text-shadow: 
  1px 1px 0px rgb(218, 11, 218);
}

.film-comp-links {
  display: flex;
  justify-content: center;
  gap: 1em; /* Adds spacing between links */
}
