@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  padding-top: 1.5em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000ee;
  color: #00fefe;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
}

h1 {
  width: 80%;
  margin: auto;
  font-size: 2em;
  text-shadow: 
  2px 2px 0px rgb(218, 11, 218);
}

h2 {
  color: #D3D3D3;
  font-size: 0.5em;
  line-height: 1.5;
  margin-top: 0.5em;
  margin-bottom: 8em;
  text-shadow: 
  1px 1px 0px rgb(218, 11, 218);
}

.link-container {
  display: grid;
  padding-left: 0.4em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 1em;
  width: fit-content;
  margin: 0 auto;
}

.link-container a {
  justify-self: start;
}

a {
  color: #00fefe;
  text-decoration: none;
  font-size: 0.8em;
  line-height: 2;
  text-shadow: 
  2px 1px 0px rgb(218, 11, 218);
}

a:hover {
  text-decoration: underline;
}

.right-column {
  padding-left: 2em;
}

.signo-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5em;
}

.signo {
  text-align: right;
  background-color: #00fefe;
  color: #0000ee;
  padding-top: 0.1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-shadow: 
  1px 1px 0px rgb(218, 11, 218);
}

.signo:hover {
  text-decoration: none;
}

.github-link {
  color: #D3D3D3;
  font-size: 0.5em;
  line-height: 14;
  text-shadow: 
  1px 1px 0px rgb(218, 11, 218);
}

