@font-face {
  font-family: 'Blockletter';
  src: url('fonts/Blockletter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 20px;
  margin-top: 0;
  padding: 40px;
  background: #1b2229;
}

.text-container {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  color: whitesmoke;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Graphik', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  position: relative;
}

.grid .image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.grid img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  border: none;
}

.grid .image-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.grid .image-container:hover img {
  filter: blur(3px);
}

.grid .image-container:hover .image-text {
  opacity: 0.8;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid .image-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Blockletter', sans-serif;
  font-size: 19px;
  color: whitesmoke;
  z-index: 2;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out, top 0.5s ease-in-out;
  white-space: nowrap;
}

.grid .image-container:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  opacity: 0.7;
  z-index: 3;
}



@media screen and (min-width: 900px) {
  .grid {
    max-width: calc(170px * 5 + 150px);
    margin: 0 auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 899px) {
  .grid {
    max-width: calc(899px);
  }

  .grid .image-text {
    font-size: medium;
    top: 85%;
  }

  .grid .image-container:hover::before {
    display: none;
  }

  .grid .image-text {
    opacity: 0.8;
    color: whitesmoke;
  }

  .image-container {
    position: relative;
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) -20%, rgba(0,0,0,0.8) 15%, rgba(255,255,255,0) 33%);
    opacity: 0.7;
    z-index: 1;
    transform: translateY(-50%);
  }

  .grid .image-container:hover::after {
    top: 50%;
    z-index: 10;
  }

  .grid .image-container:hover .image-text {
    opacity: 0.8;
    color: white;
    z-index: 12;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (min-width: 471px) and (max-width: 599px) {
  body {
    margin: 0px;
  }

  .grid {
    max-width: calc(600px);
    grid-template-columns: repeat(2, minmax(130px, 1fr));
  }

  .text-container {
    width: 90%;
    padding: 20px;
  }

  .grid .image-text {
    font-size: medium;
    top: 85%;
  }

  .grid .image-container:hover::before {
    display: none;
  }

  .grid .image-text {
    opacity: 0.8;
    color: whitesmoke;
  }

  .image-container {
    position: relative;
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) -20%, rgba(0,0,0,0.8) 15%, rgba(255,255,255,0) 33%);
    opacity: 0.7;
    z-index: 1;
    transform: translateY(-50%);
  }

  .grid .image-container:hover::after {
    top: 50%;
    z-index: 10;
  }

  .grid .image-container:hover .image-text {
    opacity: 0.8;
    color: white;
    z-index: 12;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 470px) {
  body {
    margin: 20px;
    padding: 0px;
  }

  .grid .image-container:hover::before {
    display: none;
  }

  .grid {
    max-width: calc(600px);
    grid-template-columns: repeat(2, minmax(130px, 1fr));
  }

  .text-container {
    width: 90%;
    padding: 20px;
  }
  
  .grid .image-text {
    font-size: smaller;
    top: 85%;
  }

  .grid .image-text {
    opacity: 0.8;
    color: whitesmoke;
  }

  .image-container {
    position: relative;
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) -20%, rgba(0,0,0,0.8) 15%, rgba(255,255,255,0) 33%);
    opacity: 0.7;
    z-index: 1;
    transform: translateY(-50%);
  }

  .grid .image-container:hover::after {
    top: 50%;
    z-index: 10;
  }

  .grid .image-container:hover .image-text {
    opacity: 0.8;
    color: white;
    z-index: 12;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}