@font-face {
    font-family: 'Graphik';
    src: url('fonts/GraphikMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

body {
    font-family: 'Graphik', sans-serif;
    background: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sassy-intro {
    margin-left: 5px;
    font-size: 0.9em;
    color: #666;
    line-height: 1.5;
    padding-bottom: 5%;
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.film-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.film-number {
    margin-left: 5px;
    font-size: 4em;
    font-weight: bold;
    color: #555;
    margin-right: 10px;
}

.film-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.film-title {
    padding-top: 1%;
    display: flex;
    align-items: baseline; /* Align the title and year on the same baseline */
    gap: 12px; /* Space between the title and year */
    margin-left: 5px;
}

.title-text {
    font-size: 2.5em; /* Larger size for the title */
    font-weight: bold; /* Bold title */
    color: #333; /* Title color */
}

.film-year {
    font-size: 1.2em; /* Smaller size for the year */
    color: #888; /* Subtle color for the year */
    font-weight: normal; /* Normal weight for the year */
}

.film-description {
    margin-left: 5px;
    font-size: 0.9em;
    color: #666;
    line-height: 1.5;
    text-align: justify;
}

.separator {
    flex-grow: 1;
    height: 2px;
    background-color: #ddd;
    margin-top: 4%;
    margin-bottom: 8%;
}

@media screen and (max-width: 470px) {
    .container {
        width: 94%;
    }
    .film-number {
        font-size: 3.5em;
    }
    .title-text {
        font-size: larger;
    }
    .film-year {
        font-size: small;
    }
    .film-description {
        font-size: small;
    }
    .separator {
        margin-top: 6%;
        margin-bottom: 12%;
    }
  }