<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Top 50</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='top50.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='lightheader.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo-container">
                <span class="page-name">FILMography COMPilations</span>
            </div>
            <div class="progress-icon">
                <a href="{{ url_for('director_statistics') }}">
                    <span class="material-symbols-outlined">clock_loader_60</span>
                </a>
                <a href="{{ url_for('index') }}">
                    <span class="material-symbols-outlined">nest_secure_alarm</span>
                </a>
            </div>
        </header>

        <p class="sassy-intro">These are not the greatest movies in the known universe but my current favorites, which means the ones I enjoyed the most out of the ones I have seen. The order is somewhat arbitrary. Also, maximum one movie per director, coz that keeps me from picking the entire Kurosawa oeuvre.</p>
        
        <div class="film-block">
            <div class="film-header">
                <span class="film-number">50</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/kD2ZZWMca3uk0jfwuXhxunFecgH.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/nine/">Nine</a>
                </div>
                <div class="film-year">2009 · Rob Marshall</div>
            </div>
            <p class="film-description">"Fellini's 8½ but worse plus everyone sings" is still good enough to make my Top 50. Essentially an overly long, misogynistic Prada commercial for men with mommy issues.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">49</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/i7UCf0ysjbYYaqcSKUox9BJz4Kp.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-big-short/">The Big Short</a>
                </div>
                <div class="film-year">2015 · Adam McKay</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">48</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/mrRzR4Xbt64heUQF5YBMMfdMEXu.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/oss-117-cairo-nest-of-spies/">OSS 117: Le Caire...</a>
                </div>
                <div class="film-year">2006 · Michel Hazanavicius</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">47</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/tDFvXn4tane9lUvFAFAUkMylwSr.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/grave-of-the-fireflies/">Grave of the Fireflies</a>
                </div>
                <div class="film-year">1988 · Isao Takahata</div>
            </div>
            <p class="film-description">I cried. You will, too. I am now sufficiently convinced that dropping the sun on people is a woeful idea.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">46</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/nMBfIWjqwtwWRcd9CXRVOG3MEFn.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/its-only-the-end-of-the-world/">Juste la fin du monde</a>
                </div>
                <div class="film-year">2016 · Xavier Dolan</div>
            </div>
            <p class="film-description">Do you dread visiting family during holidays? No need to do that, just watch this movie in the comfort of your own home and you will feel the exact same way. Also, the last good Dolan movie before they threw Natalie Portman at him for no reason.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">45</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/bmAzESah8IUNRQX5MqeyUrhE5Pr.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/dark-city-1998/">Dark City</a>
                </div>
                <div class="film-year">1998 · Alex Proyas</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">44</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/iraunnwrss2DJy4xayyntWHaAZR.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-sunset-limited/">The Sunset Limited</a>
                </div>
                <div class="film-year">2011 · Tommy Lee Jones</div>
            </div>
            <p class="film-description">An extremely bare-bones adaptation of Cormac McCarthy's stage play. Had Tommy Lee Jones, Samuel L. Jackson or the text itself faltered even a bit, this would have been a collection of jarring ruminations on philosophy and religion. Fortunately it scrapes right by pretentious and manages to reach thought-provoking.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">43</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/bflh1up6Zw4YZoBaJBnIFfkIyK7.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/one-cut-of-the-dead/">One Cut of the Dead</a>
                </div>
                <div class="film-year">2017 · Shinichiro Ueda</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">42</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/3ulff7BOsTJJVdNyDIMSFzkzDBv.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-death-of-stalin/">Death of Stalin</a>
                </div>
                <div class="film-year">2017 · Armando Iannucci</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">41</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/hQ8fxexuVXWEOeYznwq8tgSdsm9.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/beasts-of-the-southern-wild/">Beasts of the Southern Wild</a>
                </div>
                <div class="film-year">2012 · Benh Zeitlin</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">40</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/aUIJuLSstCBdiwNduXmY8Pf90Dn.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/my-cousin-vinny/">My Cousin Vinny</a>
                </div>
                <div class="film-year">1992 · Jonathan Lynn</div>
            </div>
            <p class="film-description">There are cleverly written, truly witty movies. Not a lot, mind you, but they do exist and this is one of them. None of the others, however, has Marisa Tomei at the height of her powers, showing up in yet another iconic outfit in scene after scene, blurting out the most memorable dialogue without fault. A well-deserved Oscar for supporting actress.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">39</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/k4HIk81b03lLeNo7I0dHxD3VPKD.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-hunchback-of-notre-dame-1996/">The Hunchback of Notre Dame</a>
                </div>
                <div class="film-year">1996 · Disney</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">38</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/9b4IBCeXkbTd1NVOreDSlXyEJJn.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-devil-wears-prada/">The Devil Wears Prada</a>
                </div>
                <div class="film-year">2006 · David Frankel</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">37</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/f7lytGw0yAeXg1KvmnVPJPqCPmf.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/leviathan-2014/">Leviathan</a>
                </div>
                <div class="film-year">2014 · Andrey Zvyagintsev</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">36</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/htyyXxoqNyzVSQ0YCZm1fXsKOXq.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/love-2015/">Love</a>
                </div>
                <div class="film-year">2015 · Gaspar Noé</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">35</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/nSNw0lLnpD2NkMChDSLAwry6uas.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/ghost-in-the-shell/">Ghost in the Shell</a>
                </div>
                <div class="film-year">1995 · Mamoru Oshii</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">34</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/hs6OPto38fF589ScpGhl7uSU4MI.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/for-a-few-dollars-more/">For a Few Dollars More</a>
                </div>
                <div class="film-year">1965 · Sergio Leone</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">33</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/r9leYNa8nTRCceZrZhP1DXkgKVb.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-thing/">The Thing</a>
                </div>
                <div class="film-year">1982 · John Carpenter</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">32</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/gDk6V1UJ2hEG2qA3aAWI4fAxzLt.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-birds/">The Birds</a>
                </div>
                <div class="film-year">1962 · Alfred Hitchcock</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">31</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/lQAGNuuMD1jr5AMvCCsY44vh8Xv.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/dredd/">Dredd</a>
                </div>
                <div class="film-year">2012 · Pete Travis</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">30</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/oKn3HSCBrj4PC5CWc2BKPKtJB5V.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-last-boy-scout/">The Last Boy Scout</a>
                </div>
                <div class="film-year">1991 · Tony Scott</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">29</span>
            </div>
            <img class="film-image" src="https://cultura.hu/wp-content/uploads/2014/01/szerencses-daniel-630x320.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/daniel-takes-a-train/">Szerencsés Dániel</a>
                </div>
                <div class="film-year">1985 · Pál Sándor</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">28</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/hQOycjyDQz1dToGlVJIDPho4kl5.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/sin-city/">Sin City</a>
                </div>
                <div class="film-year">2005 · Frank Miller</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>
        
        <div class="film-block">
            <div class="film-header">
                <span class="film-number">27</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/ciL1NT4CsnZ0MSebbrxkUwVfmSh.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-prefab-people/">Panelkapcsolat</a>
                </div>
                <div class="film-year">1982 · Béla Tarr</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">26</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/1xn5TDfpr7WY2tVteIHXdiKenui.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/annie-hall/">Annie Hall</a>
                </div>
                <div class="film-year">1977 · Woody Allen</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">25</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/skVTWsoQvFGLUnOo1Wv3coAsARw.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-lord-of-the-rings-the-fellowship-of-the-ring/">LOTR: Fellowship of the Ring</a>
                </div>
                <div class="film-year">2001 · Peter Jackson</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">24</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/q02G2W5C00QMgVYnTw4uUqGx1qy.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/youth-2015/">Youth</a>
                </div>
                <div class="film-year">2015 · Paolo Sorrentino</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">23</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/dNDLH7CiLtW24w2Q1aj8cdpnaFI.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/amores-perros/">Amores Perros</a>
                </div>
                <div class="film-year">2000 · Alejandro G. Iñárritu</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">22</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/7en9qwF88VfxPXsN6azHmUxRBNy.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/a-prophet/">Un prophète</a>
                </div>
                <div class="film-year">2009 · Jacques Audiard</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">21</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/kYYpR0okoW7O1gwXwWMlRkgL2sa.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/departures/">Okuribito</a>
                </div>
                <div class="film-year">2008 · Yojiro Takita</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">20</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/jRcexaXo41F5sJ3w8oCtej6G551.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-lobster/">The Lobster</a>
                </div>
                <div class="film-year">2015 · Yorgos Lanthimos</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">19</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/xKb6mtdfI5Qsggc44Hr9CCUDvaj.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/terminator-2-judgment-day/">Terminator 2: Judgment Day</a>
                </div>
                <div class="film-year">1991 · James Cameron</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">18</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/lDVl2jf6VB8ODl1olZ6FLvOV1gX.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/anatomy-of-a-fall/">Anatomy of a Fall</a>
                </div>
                <div class="film-year">2023 · Justine Triet</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">17</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/3vllRmAph4SVHaO8oBX5Pdqrsqc.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/4-months-3-weeks-and-2-days/">4 Months, 3 Weeks and 2 Days</a>
                </div>
                <div class="film-year">2007 · Cristian Mungiu</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">16</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/9G6m2ZFmtiX7IfbJ7b794UyDI80.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/love-2015/">Y tu mamá también</a>
                </div>
                <div class="film-year">2011 · Alfonso Cuarón</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">15</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/88atstNUnf3AHnnCn4DW2rNJnfW.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/in-bruges/">In Bruges</a>
                </div>
                <div class="film-year">2008 · Martin McDonagh</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">14</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/43508X0evUDHMoyMSecsLxcy7RK.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/inglourious-basterds/">Inglourious Basterds</a>
                </div>
                <div class="film-year">2009 · Quentin Tarantino</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">13</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/hrCTMOwQDtFzXob6z7aj3nkpeAk.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/fish-tank/">Fish Tank</a>
                </div>
                <div class="film-year">2009 · Andrea Arnold</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">12</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/1vVLOXwIFNI1nRt9LZJF51mmThY.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-act-of-killing/">The Act of Killing</a>
                </div>
                <div class="film-year">2012 · Joshua Oppenheimer</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">11</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/m4Iyzh9YVOh0ra7UwdMoJcrjxkx.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/network/">Network</a>
                </div>
                <div class="film-year">1976 · Sidney Lumet</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">10</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/4OPMvIA3uyFdNm4v19RdOBK5JdN.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/the-vulture-1982/">Dögkeselyű</a>
                </div>
                <div class="film-year">1982 · Ferenc András</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">09</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/r8Un26Y8GhcIdtmVZVnUOccnHaj.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/m/">M</a>
                </div>
                <div class="film-year">1931 · Fritz Lang</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">08</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/aBlmwwUcOZrruianH7QrGaSxYGY.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/memories-of-murder/">Memories of Murder</a>
                </div>
                <div class="film-year">2003 · Bong Joon-ho</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">07</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/s4nSBA9gcDQ95gSLeFRmifDeB1Y.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/frances-ha/">Frances Ha</a>
                </div>
                <div class="film-year">2012 · Noah Baumbach</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">06</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/ueo9NfVXJwM3R3XYxmggrJrsBsR.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/all-that-jazz/">All That Jazz</a>
                </div>
                <div class="film-year">1979 · Bob Fosse</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">05</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/hiXMQiwpa0fqPJxWLSMWTbpiWn8.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/8-half/">8½</a>
                </div>
                <div class="film-year">1963 · Federico Fellini</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">04</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/kWWnhZGmpIEY9hfT3iDHk7Se31J.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/butch-cassidy-and-the-sundance-kid/">Butch Cassidy and the Sundance Kid</a>
                </div>
                <div class="film-year">1969 · George Roy Hill</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">03</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/dgn9HsOu1s0Z6YinKiaTSNkBegD.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/in-the-mood-for-love/">In the Mood for Love</a>
                </div>
                <div class="film-year">2000 · Wong Kar-Wai</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">02</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/qEF0JCQUHBN0VSQOa17zfC9SUAb.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/seven-samurai/">Seven Samurai</a>
                </div>
                <div class="film-year">1954 · Akira Kurosawa</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>

        <div class="film-block">
            <div class="film-header">
                <span class="film-number">01</span>
            </div>
            <img class="film-image" src="https://image.tmdb.org/t/p/original/8LRcCJjbQI552BMCuGgYqph8USS.jpg" alt="Film poster">
            <div class="film-title">
                <div class="title-text">
                    <a href="https://letterboxd.com/film/there-will-be-blood/">There Will Be Blood</a>
                </div>
                <div class="film-year">2007 · Paul Thomas Anderson</div>
            </div>
            <p class="film-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="separator"></div>
        </div>
    </div>
</body>
</html>